<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84874678718-ou8v0274ndu51hi3m2flarvver5bphep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84874678718-ou8v0274ndu51hi3m2flarvver5bphep</string>
	<key>API_KEY</key>
	<string>AIzaSyBkG_TQ1kNrukxljTGBXDO69S3CUPSS4jU</string>
	<key>GCM_SENDER_ID</key>
	<string>84874678718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lubakaper.ProjectCollaboration</string>
	<key>PROJECT_ID</key>
	<string>projectcollab-579fd</string>
	<key>STORAGE_BUCKET</key>
	<string>projectcollab-579fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84874678718:ios:f90d78409759b0ae3869ef</string>
	<key>DATABASE_URL</key>
	<string>https://projectcollab-579fd.firebaseio.com</string>
</dict>
</plist>